:root {
    --pst-color-primary: 47,47,47;
    --pst-color-link: 0,170,65;
}

.nav-link {
    white-space: nowrap;
}

.showcase-table {
    border-spacing: 15px
}

.showcase-table td {
    border: 0px;
    vertical-align: top;
}

.pl-md-5, .px-md-5 {
    padding-left: 1rem !important;
}

.pt-md-5, .py-md-5 {
    padding-top: 1rem !important;
}

.cell_output {
    padding-left: 0;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 1600px;
    }
}


#scroller-right {
    position: fixed;
    top: 50%;
    right: 1%;
    max-width: 10%;
    background: #f2f2f2;
    padding: 0.8%;
    transform: translate(0%, -50%);
    border: 1px solid black;
    font-size: smaller;
}

@media (max-width: 1400px) {
    #scroller-right {
	position: relative;
	right: unset;
	top: unset;
	max-width: 100%;
	transform: unset;
    }
}

#navbar-icon-links i.fa-github-square:before {
    color: white;
}

.fa-discourse:before {
    color: white;
}
