# We deliberately don't use travis's language=python option because
# we install miniconda and use conda to get python. Additionally, 
# Travis's auto-install of python doesn't work on osx images (see
# https://github.com/travis-ci/travis-ci/issues/4729).
language: generic

env:
  global:
    - LABELS_DEV="--label dev"
    - LABELS_REL="--label dev --label main"

stages:
  - test
  - name: conda_dev_package
    if: tag =~ ^v(\d+|\.)*[a-z]\d*$
  - name: conda_package
    if: tag =~ ^v(\d+|\.)*[^a-z]\d*$
  - doc

jobs:
  include:
    - &default
      stage: test
      os: linux
      env:
        - PYTHON_VERSION="3.6"
      install:
        # Install conda
        - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
          else
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
          fi
        - bash miniconda.sh -b -p $HOME/miniconda
        - export PATH="$HOME/miniconda/bin:$PATH"
        - conda config --set always_yes yes --set changeps1 no
        - conda update conda
        # it might be faster to start from anaconda instead of miniconda
        - travis_wait 20 conda env create
        - source activate pyviz
        # indirect dep of fiona; pinned to fix https://travis-ci.org/pyviz/pyviz/jobs/383650789#L2372
        - conda install "poppler<=0.60.1"
        # dependencies for tests etc
        - pip install flake8
        - conda env export
        - conda list
      script:
          - mv data/nyc_taxi_50k.parq data/nyc_taxi_wide.parq
          # (same as python pyviz/download_sample_data.py, but for quick tests)
          # python ./etc/test_notebooks.py lint
          - python ./etc/test_notebooks.py

    - <<: *default
      os: osx
      before_install:
        # brew-installed geos interferes with cartopy?
        - brew uninstall --ignore-dependencies geos gdal postgis
      if: branch = master AND type != pull_request

    - <<: *default
      stage: doc
      script:
        - pip install -e . --no-deps
        - python -c "import bokeh ; bokeh.sampledata.download()"
        - python pyviz/download_sample_data.py data
        - conda install -c pyviz/label/dev -c defaults -c conda-forge nbsite sphinx_ioam_theme
        - cd doc/tutorial
        - nbsite_nbpagebuild.py pyviz pyviz ../../notebooks . 1 0
        - cd ..
        - sphinx-build -b html . ./_build/html
        - nbsite_fix_links.py _build/html
        - cp -r ../notebooks/assets _build/html/tutorial/
        - touch ./_build/html/.nojekyll # for github pages
        - nbsite_cleandisthtml.py ./_build/html take_a_chance
        - cd ..
      deploy:
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./doc/_build/html
          fqdn: pyviz.org
          on:
            tags: true
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./doc/_build/html
          repo: ioam-docs/pyviz-master
          on:
            branch: master
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./doc/_build/html
          repo: ioam-docs/pyviz-latest
          on:
            all_branches: true
            condition: $TRAVIS_BRANCH != master

    - &conda_pkg
      stage: conda_dev_package
      os: linux
      env:
        - PYTHON_VERSION="3.6"
        - LABELS=$LABELS_DEV
      install:
        # Install conda
        - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
          else
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
          fi
        - bash miniconda.sh -b -p $HOME/miniconda
        - export PATH="$HOME/miniconda/bin:$PATH"
        - conda config --set always_yes yes --set changeps1 no
        - conda update conda
        - conda install anaconda-client conda-build=3.10.1
        - conda install -c pyviz param numpy setuptools
        - conda build -c https://conda.anaconda.org/pyviz conda.recipe
      script:
        - anaconda --token $ANACONDA_TOKEN upload $LABELS $(conda build -c https://conda.anaconda.org/pyviz conda.recipe --output)

    - <<: *conda_pkg
      stage: conda_package
      os: linux
      env:
        - PYTHON_VERSION="3.6"
        - LABELS=$LABELS_REL


notifications:
  email: false
