language: generic

env:
  global:
    - CHANS_DEV="-c conda-forge -c defaults -c pyviz/label/dev"   # this order matters because we're using strict channel priority
    - CHANS_REL="-c conda-forge -c defaults -c https://conda.anaconda.org/pyviz"  # this order matters because we're using strict channel priority
    - LABELS_DEV="--label dev"
    - LABELS_REL="--label dev --label main"
    - PYENV_VERSION=3.6
    - PKG_TEST_PYTHON="--test-python=py36"
    - PIN="--pin-deps"
    - CHANS=$CHANS_DEV
    - OPTIONS="-o graph -o indirect"

stages:
  - name: test_user_install
    if: type = cron
  - test
  - name: package_dev
    if: tag =~ ^v(\d+|\.)+[a-z]\d+$
  - name: package_release
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$
  - name: website_dev
    if: (tag =~ ^v(\d+|\.)+[a-z]\d+$) OR (tag = website_dev) OR (commit_message =~ /^.*(website_dev).*$/) OR (type = cron)
  - name: website_release
    if: (tag =~ ^v(\d+|\.)+[^a-z]\d+$) OR (tag = website)
  - name: unpinned_upcoming_trouble
    if: type = cron
# TODO: caching

jobs:
  include:
    - &default
      stage: test
      env: DESC="Test examples" OPTIONS="-o graph -o indirect -o tests"
      os: linux
      install:
        - pip install pyctdev && doit miniconda_install && pip uninstall -y doit pyctdev
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        - conda config --set always_yes True
        - conda info
        - conda install -c pyviz/label/dev "pyctdev>=0.5" && doit ecosystem_setup
        - conda config --set path_conflict warn
        - conda config --set channel_priority strict  # this makes the conda solver **way** faster
        - conda info
      before_script:
        - doit env_create --name=holoviz --python=$PYENV_VERSION
        - conda info
        - source activate holoviz
        - doit develop_install $CHANS $OPTIONS
        - pip install msgpack # workaround for unfortunate combination of msgpack vs msgpack-python + no conda develop command + pkg_resources checking what's installed for entrypoints + msgpack/rise conflict via conda; need to investigate
        - doit env_capture
      script:
        - holoviz fetch-data --path=examples --use-test-data
        - doit test_all
        - holoviz clean-data --path=examples

    - <<: *default
      env: DESC="Test geo examples" OPTIONS="-o test"
      script:
        - conda install -y $CHANS geopandas geoviews
        - holoviz fetch-data --path=examples --use-test-data
        - doit test_geo
        - holoviz clean-data --path=examples

    - <<: *default
      stage: unpinned_upcoming_trouble
      env: PIN=

    - &package_test
      <<: *default
      stage: test_user_install
      env: DESC="Test conda package on pyviz/label/dev"
      before_script:
        # TODO: pyctdev should just support this whole section
        - mkdir $HOME/tmp && cp tox.ini dodo.py $HOME/tmp && cd $HOME/tmp
        - doit test_user_install_part1
        - source activate holoviz-tutorial
      script: doit test_user_install_part2_conda

    - <<: *package_test
      env: DESC="Test package on pip"
      script: doit test_user_install_part2_pip

    - <<: *package_test
      os: osx
      # travis/osx is not set up like travis/linux
      env: PYENV_VERSION=3.6.4
      before_install:
        - eval "$(pyenv init -)"
        - pyenv install $PYENV_VERSION

    - &website
      <<: *default
      stage: website_release
      env: DESC="Release website to holoviz.org" OPTIONS="-o doc -o indirect -o graph" CHANS=$CHANS_REL
      script:
        - conda install -y $CHANS geoviews geopandas
        - bokeh sampledata
        - holoviz fetch-data --path=examples
        - nbsite generate-rst --org pyviz --project-name holoviz --offset 1
        - nbsite build --what=html --output=builtdocs
      deploy:
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./builtdocs
          fqdn: holoviz.org
          on:
            tags: true
            all_branches: true

    - <<: *website
      stage: website_dev
      env: DESC="Deploy dev website to pyviz-dev.github.io/holoviz" OPTIONS="-o doc -o indirect -o graph" CHANS=$CHANS_REL
      deploy:
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./builtdocs
          repo: pyviz-dev/holoviz
          on:
            all_branches: true


    ## dev packages

    - &pip_pkg
      <<: *default
      env: DESC="Package for pip" PYPI=testpypi PYPIUSER=$TPPU PYPIPASS=$TPPP
      stage: package_dev
      before_script:
        - doit ecosystem=pip ecosystem_setup
        - doit ecosystem=pip package_build $PKG_TEST_PYTHON --test-group=unit --sdist-install-build-deps
      script: doit ecosystem=pip package_upload -u $PYPIUSER -p $PYPIPASS --pypi ${PYPI}

    - &conda_pkg
      <<: *default
      stage: package_dev
      env: DESC="Package for conda" LABELS=$LABELS_DEV CHANS=$CHANS_DEV
      before_script:
        - travis_wait 60 doit package_build $CHANS $PKG_TEST_PYTHON --package-name holoviz --test-group=unit
        # TODO: is package_test supposed to take --package-name? Seems to work with leftover conda.recipe from build.
        - doit package_test $CHANS $PKG_TEST_PYTHON --test-group=examples
      script: doit package_upload --token=$ANACONDA_TOKEN $LABELS

    ## release packages

    - <<: *pip_pkg
      env: PYPI=pypi PYPIUSER=$PPU PYPIPASS=$PPP
      stage: package_release

    - <<: *conda_pkg
      stage: package_release
      env: LABELS=$LABELS_REL CHANS=$CHANS_REL

notifications:
  email: false
