# We deliberately don't use travis's language=python option because
# we install miniconda and use conda to get python. Additionally, 
# Travis's auto-install of python doesn't work on osx images (see
# https://github.com/travis-ci/travis-ci/issues/4729).
language: generic

stages:
  - test
  - doc

jobs:
  include:
    - &default
      stage: test
      os: linux
      env:
        - PYTHON_VERSION="3.6"
      install:
        # Install conda
        - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
          else
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
          fi
        - bash miniconda.sh -b -p $HOME/miniconda
        - export PATH="$HOME/miniconda/bin:$PATH"
        - conda config --set always_yes yes --set changeps1 no
        - conda update conda
        # it might be faster to start from anaconda instead of miniconda
        - travis_wait 20 conda env create
        - source activate pyviz
        # dependencies for tests etc
        - pip install flake8
        - conda env export
        - conda list
      script:
          - mv data/nyc_taxi_50k.parq data/nyc_taxi_wide.parq
          # (same as python pyviz/download_sample_data.py, but for quick tests)
          # python ./etc/test_notebooks.py lint
          - python ./etc/test_notebooks.py

    - <<: *default
      os: osx
      before_install:
        # brew-installed geos interferes with cartopy?
        - brew uninstall --ignore-dependencies geos gdal postgis
      if: branch = master AND type != pull_request

    - <<: *default
      stage: doc
      script:
        - python -c "import bokeh ; bokeh.sampledata.download()"
        - python pyviz/download_sample_data.py data
        - conda install -c conda-forge 'sphinx<1.7' beautifulsoup4 graphviz
        - pip install nbsite
        - pip install sphinx_ioam_theme
        - cd doc/tutorial
        - nbsite_nbpagebuild.py pyviz pyviz ../../notebooks . 1
        - cd ..
        - sphinx-build -b html . ./_build/html
        - nbsite_fix_links.py _build/html
        - cp -r ../notebooks/assets _build/html/tutorial/
        - touch ./_build/html/.nojekyll
        - nbsite_cleandisthtml.py ./_build/html take_a_chance
        - cd ..
      deploy:
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./doc/_build/html
          on:
            tags: true
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./doc/_build/html
          repo: ioam-docs/pyviz-master
          on:
            branch: master

notifications:
  email: false
