name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
  schedule:
    - cron: '0 4 1 */2 SUN'  # every two months on Sunday at 4 am

jobs:
  test_suite:
    name: Pytest on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: [3.9]
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0} 
    env:
      DESC: "Python ${{ matrix.python-version }} tests"
      PYTHON_VERSION: ${{ matrix.python-version }}
    steps:
      - name: configure Page file on Windows
        # To fix a Memory Error while reading the earthquake Parquet file
        # See https://github.com/holoviz/holoviz/issues/309
        if: contains(matrix.os, 'windows')
        uses: al-cheb/configure-pagefile-action@v1.2
      - uses: actions/checkout@v3
        with:
          fetch-depth: "100"
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
      - name: Fetch unshallow
        run: git fetch --prune --tags --unshallow
      - name: conda setup
        run: |
          conda update -n base -c defaults conda
          conda install conda-libmamba-solver
          conda config --set solver libmamba
          conda install -c pyviz "pyctdev>=0.5"
          doit env_create --python=${{ matrix.python-version }}
      - name: doit develop_install
        run: |
          conda activate test-environment
          conda list
          conda install anaconda-project>=0.10.1
          echo "-----"
          git describe
      - name: doit env_capture
        run: |
          conda activate test-environment
          doit env_capture
      - name: doit test_lint
        run: |
          conda activate test-environment
          doit test_lint
      - name: doit test_examples
        run: |
          conda activate test-environment
          doit test_examples
